{{ define "main" }}
<main class="container py-5">
    <section id="intro" class="mb-5">
        <h1>{{ .Title }}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="{{ .Title }}">
                    {{ .Title }}
                </li>
            </ol>
        </nav>
        {{ if .Params.image }}
        <img src="{{ .Params.image | relURL }}" />
        {{ end }}
    </section>

    {{ if not .Params.image }}
    <hr class="mb-5" />
    {{ end }}

    <section id="content">{{ .Content }}</section>
</main>
{{ end }}