{{ define "main" }}
<div class="container py-5">
  <section id="intro" class="mb-5">
    <h1>{{ .Title }}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="{{ .Title }}">
          {{ .Title }}
        </li>
      </ol>
    </nav>
  </section>

  {{ .Content }}
  <section id="articles" class="row g-5">
    {{ range.Pages }} {{ .Render "summary" }} {{ end }}
  </section>
</div>
{{ end }}
