{{define "main"}} {{if .Params.banner}}
<div
  id="banner"
  class="cover text-center"
  style="background-image: url('{{.Params.Banner}}')"
>
  <h1>
    Taking control of your daily life is easy <br />
    when you know how!
  </h1>
</div>
{{end}} {{/* {{ partial "carousel.html" (dict "context" . "items" "1" "height"
"50" "unit" "%" "duration" "7000") }} */}}
<main class="container">
  <div class="my-5">{{.Content}}</div>

  <h2 class="my-5">Articles récents</h2>
  <section id="articles" class="row g-5">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }} {{
    range $paginator.Pages }} {{ .Render "summary" }} {{ end }}
    <div class="text-center my-5">
      <a href="/posts" class="btn btn-primary">Voir tous les posts</a>
    </div>
  </section>

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "carousel") }} {{
  range $paginator.Pages }} {{ .Render "carousel" }} {{ end }}
</main>
{{end}}
