{{define "main"}} {{if .Params.banner}}
<div
  id="banner"
  class="cover text-center"
  style="background-image: url('{{.Params.Banner}}')"
>
  <h1>
    Taking control of your daily life is easy <br />
    when you know how!
  </h1>
</div>
{{end}}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div
      class="carousel-item active"
      style="
        background: url('{{.Params.Image}}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div
      class="carousel-item"
      style="
        background: url('{{.Params.Image2}}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div
      class="carousel-item"
      style="
        background: url('{{.Params.Image3}}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
</div>
{{/* {{ partial "carousel.html" (dict "context" . "items" "1" "height" "50"
"unit" "%" "duration" "7000") }} */}}
<main class="container">
  <div class="my-5">{{.Content}}</div>

  <h2 class="my-5">Articles récents</h2>
  <section id="articles" class="row g-5">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }} {{
    range $paginator.Pages }} {{ .Render "summary" }} {{ end }}
    <div class="text-center my-5">
      <a href="/posts" class="btn btn-primary">Voir tous les posts</a>
    </div>
  </section>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "carousel") }} {{
  range $paginator.Pages }} {{ .Render "carousel" }} {{ end }}
</main>
{{ $test := .Paginate (where .Site.RegularPages "Type" "carousel") }} {{ range
$test.Pages }} {{ .Render "carousel" }} {{ end }} {{end}}
